.blob {
    width: 300px;
    margin: 0em auto 3em;
    transform: scale(1);
    transition: transform 0.3s ease-in;
  }
  .blob:hover {
    animation: bounce ease-in-out 0.5s;
    transform: scale(1.15);
    transition: transform 0.3s ease-in;
    color: white;
  }
  
  @keyframes bounce {
      0% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
  
      40% {
          -webkit-transform: scale(0.9);
          transform: scale(0.9);
      }
  
      80% {
          -webkit-transform: scale(1.2);
          transform: scale(1.2);
      }
    100% {
      -webkit-transform: scale(1.15);
          transform: scale(1.15);
    }
  }
  .blob p {
    color:#0f4149;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 3px;
    position: relative;
   top: -5.1em;
    
    animation: 
      transform 10s ease-in-out infinite both alternate,
      movements 10s ease-in-out infinite both;
  }
  .result-link a{
    text-decoration: none;
  }
  
  
  @keyframes movements {
      0%,
    100% { transform: none; }
     50% { transform: translateY(90%);}
  }
  
  
  
  .blob:hover::before{
    background: linear-gradient(196deg, rgba(223,255,141,1) 0%, rgba(175,238,255,1) 100%); 
  }

  
  .blob::before {
    content: " ";
    display: block;
    min-height: 200px;
    min-width: 200px;
    width: 40vh;
    height: 40vh;  
    background: linear-gradient(196deg, rgba(223,255,141,1) 0%, rgba(175,238,255,1) 100%);
    background-color: none; 
    box-shadow: 0px 0px 30px 10px #f5f5f5;
    transform-origin: 50% 50%;
    transition: all 1s;
   
    animation: 
      transform 10s ease-in-out infinite both alternate,
      movement 10s ease-in-out infinite both;
  }
  
  
  @keyframes transform {
      0%,
    100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
     14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
     28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
     42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
     56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
     70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
     84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
  }
  
  @keyframes movement {
      0%,
    100% { transform: none; }
     50% { transform: translateY(8%) rotateY(10deg); }
  }
  