* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    margin: 0 auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-family: var(--bodyfont);
/*     height: 1650px; */
/*     height: 1600px; */
}

:root{
    /* There are 2 light blues that are essentially the same ? 
     --lightblue2: rgb(0, 129, 172); **/
    --lightblue: #009ACC;
    --bluegray: #456488;
    --semiblue:#2E648A;
    --darkblue: #253340;
    --superdarkblue: #162B3C;
    --orange: #FCD47F;
    --gray: #555555;
    /*fonts*/
    --bodyfont: 'ubuntu-r';
    --boldfont: 'ubuntu-bold';
    --lightfont: 'ubuntu-l';
}

@font-face {
    font-family: 'ubuntu-l';
    src: url('font/light/ubuntu-l.woff2') format('woff2'),
         url('font/light/ubuntu-l.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'ubuntu-bold';
    src: url('font/ubuntu/ubuntu-b.woff2') format('woff2'),
         url('font/ubuntu/ubuntu-b.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'ubuntu-r';
    src: url('font/ubuntu/ubuntu-r.woff2') format('woff2'),
         url('font/ubuntu/ubuntu-r.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

.background {
    width: 100vw;
    height: 50vh;
    background-color: #13304A;
    position: absolute;
    top: 0;
    z-index: -1;
}

.heroimage {
    margin: 0 auto;
    text-align: center;
}
.heroimage img {
    width: 80%;

}

.classname {
    text-align: center;
    margin: 4em 3em;
}
.classname p {
    color: white;
    font-weight: bold;
    font-size: 2em;
    font-family: var(--bodyfont);
}
.casestudy{
    margin: 3em auto;
    text-align: center;
}
.casestudy hr{
    width: 90%;
    margin: 0 auto;
    border-color: #00ACE3 ;
}
.casestudy p {
    letter-spacing: 5px;
    font-size: 1em;
    position: relative;
    top: -14px;
    left: 0%;
    transform: translateX(0%);
    background-color: #13304A;
    width: 200px;
}

/* overview */

.main-textbox {
    margin: 3em auto;
    width: 80%;
}
.title {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1.5em;
}
.main-textbox p{
    color: #162B3C;
    line-height: 1.5em;
    margin: 1.5em 0;
    font-weight: light;
}
#subtitle {
    font-size: 1.5em;
    color: #ffc55b;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 2em;
}

/* PROCESS AND INSIGHTS */
.alpha {
    position: relative;
    z-index: 10;
    background-color:#2E648A;
    padding-bottom: 2em;
}
.alpha-header{
    position: relative;
    top: -0.35em;
    margin-bottom: -0.6em;
    font-size: 5em;
    font-weight: bold;
    opacity: 0.5;
    color: white; /* blue */
}

.image {
    text-align: center;
}
.image img {
    width: 100%;
}
.image figcaption {
    margin-top: 0.5em;
    font-style: italic;
    opacity: 0.7;
    color: white;
}


#style_tile img {
    width: 40%;
    background-color: white;
}
#logo img {
    width: 15%;
}
#cutefood img{
    background-color: white;
    width: 100%;
}
#timeline img {
    width: 60%;
    margin: 2em 0 0;
}

#timeline figcaption{
    color:#162B3C ;
}

#team img {
    width: 90%;
}
#team_link{
    text-decoration: none;
    color: #FF9A00;
    transition: all 0.3s ease-in-out;
    margin: 0 auto;
    text-align: center;
}
#team_button {
    width: 140px;
    text-align: center;
    padding: 1em;
    border: 2px solid #FF9A00;
    transition: all 0.3s ease-in-out;
}
#team_button:hover {
    background-color: #FF9A00;
    cursor: pointer;
    color: white;
}
#team_button:hover > #team_link {
    color: white;
}
#team_link a{
    text-decoration: none;
}
.github div{
    margin: -2em auto 0;
}
#userflow img {
    width: 80%;
}
#subgenre img{
    width: 80%;
}
#cultural img {
    width: 80%;
}
#code {
    background-color: #162B3C;
    padding-top: 2em;
}
#code p{
    color: white;
}

#designthink p{
    color: white;
}

#nav img {
    width: 70%;
}
#spreadsheet img{
    width: 70%;
}

#code figcaption {
    color: white;
}
#database img {
    width: 80%;
}
#challenges {
    background-color: #FFA400;
    position: relative;
    z-index: 5;
}

#subtitle2 {
    font-size: 1.5em;
    color: #162B3C;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 2em;
}

#subtitle3 {
    color: white;
} 

#random img {
    width: 20%;
}
#solution {
    background-color: #009ACC;
    position: relative;
    z-index: 0;
}
.microinteraction {
    display: block;
    width: 70%;
    margin: 0 auto;
    align-items: center;
}


.microinteraction div{
    margin: 0 1em;
}

.microinteraction img {
    padding-top: 2em;
}

#end {
    padding-top: 3em;
}
.result-link {
    width: 80%;
    margin: 0 auto;
}
.result-link a {
    color: black;
    margin: 0 auto;
}

#center  {
    text-align: center;
    color: #EFA834;
}

#final_prod p {
    color: white;
    opacity: 0.8;
}

@media screen and (min-width: 768px) {

    .casestudy hr{
        width: 80%;
    }

    .casestudy p {
        font-size: 1.2em;
    }


    .microinteraction {
        display: flex;
        flex-direction: row;
    }
    
  }
  @media screen and (min-width: 1024px) {

    .alpha-header{
        font-size: 10em;
    }

    .background {
        width: 100vw;
        height: 100vh;
    }

    .classname p {
        color: white;
        font-weight: bold;
        font-size: 5em;
        font-family: var(--bodyfont);
    }

    .casestudy hr{
        width: 30%;
        margin: 0 auto;
        border-color: #00ACE3 ;
    }

    .casestudy p {
        letter-spacing: 5px;
        font-size: 1.2em;
        position: relative;
        top: -14px;
        left: 8%;
        transform: translateX(-50%);
        background-color: #13304A;
        width: 10em;
        /* width: 200px; */
    }

    .main-textbox {
        margin: 3em auto;
        width: 46%;
    }

    /* Images in responsive mode */

    #timeline{
        width: 80%;
    }

    #team {
        width: 75%;
    }

    #subgenre img{
        width: 40%;
    }

    #cultural img {
        width: 40%;
    }

    .microinteraction {
        display: flex;
        flex-direction: row;
    }

    #nav img {
        width: 40%;
    }
    
    #database img {
        width: 60%;
    }
    
    
    
  }