*{
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
    
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--darkblue);
    font-family: Arial, Helvetica, sans-serif;
    height: 1600px;
    font-family: var(--bodyfont);
    height: 1600px;
}

:root{
    /* There are 2 light blues that are essentially the same ? 
     --lightblue2: rgb(0, 129, 172); **/
    --lightblue: #00ACE3;
    --bluegray: #456488;
    --darkblue: #253340;
    --superdarkblue: #111826;
    --orange: #FF9A00;
    --gray: #555555;
    /*fonts*/
    --bodyfont: 'ubuntu-r';
    --boldfont: 'ubuntu-bold';
    --lightfont: 'ubuntu-l';
}

@font-face {
    font-family: 'ubuntu-l';
    src: url('font/light/ubuntu-l.woff2') format('woff2'),
         url('font/light/ubuntu-l.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'ubuntu-bold';
    src: url('font/ubuntu/ubuntu-b.woff2') format('woff2'),
         url('font/ubuntu/ubuntu-b.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'ubuntu-r';
    src: url('font/ubuntu/ubuntu-r.woff2') format('woff2'),
         url('font/ubuntu/ubuntu-r.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

a{
    text-decoration: none;
}

.logo {
    display: flex;
    background-color: #111826;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logoimg {
    width: 50px;
    height: 50px;
}

/* Top Navigation */
ul {
    background-color: #111826; 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    padding: 5px;
}

li a {
    text-decoration: none;
    color: white;
}

.active {
    padding-bottom: 3px;
    border-bottom: 2px solid #FF9A00;
}

h3 {
    color: white;
    font-size: 16px;
}

/* Category Titles */
h3.categorytt {
    padding-left: 35px;
    padding-bottom: 15px;
}

h4 {
    color: white;
    padding-bottom: 8px;
}

h5{
    color: var(--orange);
    font-size: 1.25rem;
    font-family: var(--lightfont);
}

/* featured content */
.swiper-container {
    height: 360px;
    width: 100%;
    margin: auto 0;
}

.swiper-wrapper {
    align-items: center;
}

.swiper-slide {
    width: 100px;
    height: 250px;
    border-radius: 7px;

}

.swiper-slide img {
    width: 205px;
    height: 250px;
    border-radius: 7px;
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 50px;
}

.swiper-slide-active {
    transform: scale(1.2);
    transition: .4s;
}


/* Film/Shows Content */

/* container for h3 and category horizontal scroll */
.item {
    margin-top: 20px;
    padding: 10px;
    height: auto;
}

.thumbnail {
    display: flex;
    overflow-y: scroll;
    width: 100%;
    margin-left: 27px;
}

.thumbnail img{
    width: 180px;
    margin: 0 0.5em;
}
/* Continue Watching */
.poster_tn img {
    width: 120px;
}
.season_episode {
    margin: -3px 0.5em;
    color: white;
    background-color: black;
    padding-bottom: 0.2em;
}
.season_episode p {
    padding: 0.4em
}
.season_episode hr {
    border: 3px solid var(--lightblue);
    padding: 0;
}
#s_e_1 {
    width: 50%;
}
#s_e_2 {
    width: 20%;
}
#s_e_3 {
    width: 70%;
}

/* actors */
.thumbnail2 {
    display: flex;
    overflow-y: scroll;
    width: 100%;
    margin-left: 27px;
}

.thumbnail2 img{
    width: 100px;
    height: 100px;
    margin: 0 .7em;
    border-radius: 50%;
}

.inlineflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inlineflex p {
    text-align: center;
    color: white;
    font-size: 0.8em;
    font-family: var(--lightfont);
    padding-top: 10px;
}

      /* DESCRIPTION MODAL BOX */
.modal {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    position: absolute;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: fontAwesome;
}
.modal_contents {
    border-radius: 10px;
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.808);
    width: 85%;
}
#main_img img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.322);
}
.media_content {
    padding: 1.2em;
    font-family: var(--bodyfont);
}
#title {
    font-size: 1.5em;
    margin-top: -0.3em;
    font-family: var(--boldfont);
}

.genre {
    display: flex;
    margin: 0.5em 0;
    font-size: 0.9em;
    color: #575757;
    align-items: center;
}
.fa {
    font-size: 6px;
    margin-left: 1em;
}
.stars {
    display: flex;
    align-content: center;
    font-size: 1.2em;
    color: var(--orange);
    font-weight: bold;
}
.stars img {
    width:100px;
    margin-top: -3px;
    margin-left: 0.5em;
}
.description {
    margin: 1em 0 0em;
}
.description p{
    line-height: 1.3em;
}
.modal_button {
    text-align: center;
    color: var(--lightblue);
}
.modal_button p{
    padding: 0.8em 0;
    border-top: 1px solid #2D4C70;
    font-family: var(--bodyfont);
}
#long_click {
    cursor: pointer;
}
.modal--hidden{
    display: none;
}


/* Bottom Navigation */
.navbar {
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #111826;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    height: auto;
    position: fixed;  
    z-index: 1;
}

.navbar a {
    text-decoration: none;
}

/* Bottom Icons */
.svg {
    width: 45px;
    height: 45px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
}

/* edit pic button */
.editpic {
    display: flex;
    justify-content: center;
    border: dashed 1px white;
    border-width: 5px;
    width: 80%;
    height: 50%;
    bottom: 0;
}

/* + Edit Profile Pic (Profile Pic Page) */
.popup h3 {
    color: rgb(0, 129, 172);
}

/* Skip + Done Bottoms */
.skipanddone {
    border-top: 1px white solid;
    display: flex;
    flex-direction: row;
    background-color: #111826;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    letter-spacing: 5px;
}

.skip {
    border-right: 1px white solid;
    height: 60px;
    width: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.done {
    border-left: 1px white solid;
    background-color: #00ACE3;
    height: 60px;
    width: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* genre rank */
.center {
    margin: 45px;
}

#sortable { 
    background-color: #253340;
    list-style-type: none;
    margin: 0; 
    width: 220px; 
    cursor: grab;
  }
  
#sortable li { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 3px 12px 3px; 
    padding: 0.6em;             
    padding-left: 1em; 
    padding-right: 1em;
    font-size: 1.4em;
    font-family: var(--bodyfont);
    height: 18px; 
    background-color: #376191;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    width: 220px;
  }
  
#sortable li span { 
    position: absolute; 
    margin-left: -1.3em; 
  }
  
.rankings {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  
i {
    color: #00ACE3;
  }
  
h2.num {
    color: #FF9A00;
    padding-bottom: 28px;
  }
  
.numbers {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-top: 10px;
  }
  

/* Add Name Page **/

#add_name {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#options {
    color: white;
    margin:  0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}
#options a {
    color: white;
}


#name_input{
    font-size: 1.15rem;
    border-radius: 7px;
    border: none;
    padding: .5rem;
    margin: 0;
}

/* Choose/Add Profile Page **/

.profile_btn, .child_btn{
    border-radius: 7px;
    border: none;
    padding: .5rem;
    margin: 3rem auto;
    background-color: var(--lightblue);
    width: 230px;
    text-align: center;
}

.add_btn{
    font-size: 1.15rem;
    color: white;
    border-radius: 7px;
    border: 1px solid var(--lightblue);
    padding: .5rem;
    margin: 3rem auto;
    background-color: var(--darkblue);
    width: 230px;
    text-align: center;
}

.profile_btn, .child_btn{
    font-size: 1.15rem;
    color: white; 
}

.child_btn{
    background-color: var(--orange);
}

a:link {
    text-decoration: none;
    color: white;
} 

