*{
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--darkblue);
    font-family: Arial, Helvetica, sans-serif;
    height: 1600px;
    font-family: var(--bodyfont);
    height: 1650px;
}

:root{
    /* There are 2 light blues that are essentially the same ? 
     --lightblue2: rgb(0, 129, 172); **/
    --lightblue: #00ACE3;
    --bluegray: #456488;
    --darkblue: #253340;
    --superdarkblue: #111826;
    --orange: #FF9A00;
    --gray: #555555;
    /*fonts*/
    --bodyfont: 'ubuntu-r';
    --boldfont: 'ubuntu-bold';
    --lightfont: 'ubuntu-l';
}

@font-face {
    font-family: 'ubuntu-l';
    src: url('font/light/ubuntu-l.woff2') format('woff2'),
         url('font/light/ubuntu-l.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'ubuntu-bold';
    src: url('font/ubuntu/ubuntu-b.woff2') format('woff2'),
         url('font/ubuntu/ubuntu-b.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'ubuntu-r';
    src: url('font/ubuntu/ubuntu-r.woff2') format('woff2'),
         url('font/ubuntu/ubuntu-r.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

a{
    text-decoration: none;
}

.hidden{
    display: none;
}

.logo {
    display: flex;
    background-color: #111826;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logoimg {
    width: 50px;
    height: 50px;
}

/* Top Navigation */
ul {
    background-color: #111826; 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    padding: 5px;
}

li a {
    text-decoration: none;
    color: white;
}

a.homelink {
    padding-bottom: 3px;
    border-bottom: 2px solid #FF9A00;
}

h3 {
    color: white;
    font-size: 16px;
}

/* Category Titles */
h3.categorytt {
    padding-left: 35px;
    padding-bottom: 15px;
}

h4 {
    color: white;
    padding-bottom: 8px;
}

h5{
    color: var(--orange);
    font-size: 1.25rem;
    font-family: var(--lightfont);
}

/* Film/Shows Content 

Container for h3 and category horizontal scroll */
.item {
    margin-top: 20px;
    height: auto;
}

.thumbnail {
    display: flex;
    width: 100%;
    padding-left: 27px;
    overflow-x: scroll;
}
.scroll.active{
    cursor: grabbing;
    cursor: -webkit-grabbing;
}
.scroll img{
    pointer-events: none;
    user-select: none;
}

.thumbnail img{
    width: 180px;
    height: 100px;
    margin: 0 0.5em;
}

/* to remove scrollbar bar but keep functionality */
.thumbnail::-webkit-scrollbar {
    display: none;
}
.thumbnail2::-webkit-scrollbar {
    display: none;
}

/* Continue Watching */
.poster_tn img {
    width: 120px;
    height: 170px;
}
.season_episode {
    margin: -3px 0.5em;
    color: white;
    background-color: black;
    padding-bottom: 0.2em;
}
.season_episode p {
    padding: 0.4em
}
.season_episode hr {
    border: 3px solid var(--lightblue);
    padding: 0;
}
#s_e_1 {
    width: 50%;
}
#s_e_2 {
    width: 20%;
}
#s_e_3 {
    width: 70%;
}

/* actors */
.thumbnail2 {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    padding-left: 27px;
}

.thumbnail2 img{
    width: 100px;
    height: 100px;
    margin: 0 .7em;
    border-radius: 50%;
}

.inlineflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inlineflex p {
    text-align: center;
    color: white;
    font-size: 0.8em;
    font-family: var(--lightfont);
    padding-top: 10px;
}

      /* DESCRIPTION MODAL BOX */
.modal {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    position: absolute;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: fontAwesome;
}
.modal_contents {
    border-radius: 10px;
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.808);
    width: 85%;
}
#main_img img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.322);
}
.media_content {
    padding: 1.2em;
    font-family: var(--bodyfont);
}
#title {
    font-size: 1.5em;
    margin-top: -0.3em;
    font-family: var(--boldfont);
}

.genre {
    display: flex;
    margin: 0.5em 0;
    font-size: 0.9em;
    color: #575757;
    align-items: center;
}
.fa {
    font-size: 6px;
    margin-left: 1em;
}
.stars {
    display: flex;
    align-content: center;
    font-size: 1.2em;
    color: var(--orange);
    font-weight: bold;
}
.stars img {
    width:100px;
    margin-top: -3px;
    margin-left: 0.5em;
}
.description {
    margin: 1em 0 0em;
}
.description p{
    line-height: 1.3em;
}
.modal_button {
    text-align: center;
    color: var(--lightblue);
}
.modal_button p{
    padding: 0.8em 0;
    border-top: 1px solid #2D4C70;
    font-family: var(--bodyfont);
}
#long_click {
    cursor: pointer;
}
.modal--hidden{
    display: none;
}


/* Bottom Navigation */
.navbar {
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #111826;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    height: auto;
    position: fixed;  
    z-index: 1;
}

.navbar a {
    text-decoration: none;
}

/* Bottom Icons */
.svg {
    width: 45px;
    height: 45px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
}

/* edit pic button */
.editpic {
    display: flex;
    justify-content: center;
    border: dashed 1px white;
    border-width: 5px;
    width: 80%;
    height: 50%;
    bottom: 0;
}

/* + Edit Profile Pic (Profile Pic Page) */
.popup h3 {
    color: rgb(0, 129, 172);
}

/* Next (Add Name Page) */
.next {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px white solid;
    background-color: #00ACE3;
    height: 60px;
    position: fixed;
    bottom: 0;
    width: 100%;
    letter-spacing: 5px;
    cursor: pointer;
    overflow: hidden;
}


.next:hover {
    text-shadow: 2px 2px 5px black;
}

/* Skip + Done Bottoms */
.skipanddone {
    border-top: 1px white solid;
    display: flex;
    flex-direction: row;
    background-color: #111826;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    letter-spacing: 5px;
    cursor: pointer;
}

.skip:hover {
    text-shadow: 2px 2px 5px black;
}

.done:hover {
    text-shadow: 2px 2px 5px black;
}

.skip {
    border-right: 1px white solid;
    height: 60px;
    width: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.done {
    border-left: 1px white solid;
    background-color: #00ACE3;
    height: 60px;
    width: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* genre rank microinteraction */
.center {
    margin: 45px;
}

#sortable { 
    background-color: #253340;
    list-style-type: none;
    margin: 0; 
    width: auto; 
    cursor: grab;
  }

#sortable li:active {
    width: 200px;
    height: 25px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}
  
#sortable li { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 3px 12px 3px; 
    padding: 0.6em;             
    padding-left: 1em; 
    padding-right: 1em;
    font-size: 1.4em;
    font-family: var(--bodyfont);
    height: 18px; 
    background-color: #376191;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    width: 180px;
  }
  
#sortable li span { 
    position: absolute; 
    margin-left: -1.3em; 
  }
  
.rankings {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  
i {
    color: #00ACE3;
  }
  
h2.num {
    color: #FF9A00;
    padding-bottom: 28px;
  }
  
.numbers {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-top: 10px;
  }
  
/* sub genre page */
#orangedesc h5 {
    font-size: 18px;
    text-align: center;
}
#orangedesc h5 b{
    font-family: var(--boldfont);
}
#orangedesc {
    margin: 30px;
}

/* flex container */
.flexgenrebtn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px 0em 0;
}

/* icons */
.genrebtn #subgenreicon {
    width: 50px;
    height: 50px;
}

/* hide dark svg */
#subiconshow {
    display: none;
}

/* on active button, show dark svg, hide light svg */
#subiconshow.active {
    display: show;
}

#subgenreicon.active {
    display: none;
}

.genrebtn {
    background: #456488;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
}

.genrebtn.active {
    background: linear-gradient(191.53deg, #FFBF5C 5.02%, #FF9A00 91.53%);
    box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.57);
}


.alignitems p {
    color: white;
    padding-bottom: 10px;
    padding-top: 5px;
    font-size: 13px;
    font-family: var(--bodyfont);
}

.alignitems {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Add Name Page **/

#add_name {
    margin: 2.6em 3em 0;
}

#options {
    margin:  0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

#name_input{
    outline: none;
    font-size: 1.15rem;
    border-radius: 7px;
    border: none;
    padding: .5rem;
    margin: 0;
    width: 90%;
}

form {
    position: relative;
    margin: 0 auto;
}


input {
    outline: none;
    font-size: 1.15rem;
    border-radius: 7px;
    border: none;
    padding: .5rem;
    margin: 0 0 1rem;
    width: 90%;
}

span.isvalid:after {
    content: '✓';
    color: #CFFF9F;
}
  
span.notvalid:after {
    content: '×';
    color: #ff4f3b;
} 


/* Age Page */
#enteryourname-error{
    color: white;
    margin: 1rem 0;
}

.agerange {
    display: flex;
    flex-direction: column;
}
.agerange button {
    text-align: left;
    border: none;
    margin: 0.7em 0;
    font-size: 1.1em;
    padding: 1em;
    border-radius: 6px;
    background-color: #456488;    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}
.agerange span {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid white;
    display: inline-block;
    margin-right: 10px;
}

/* When age range is selected, this is the css. */
.agebtn.active {
    background-color: #00ACE3;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.4);
}

.agebtn.active span{
    border: 3px solid white;
    background-color: #00ACE3;
}

/* Finished setting up page */
.center_setup {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.setup {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.setup p{
    margin: -1em 0 3em;
    color: white;
    text-align: center;
    font-size: 1.25em;
}
.setup img {
    width: 280px;
}

.setup_img {
    margin: 0 auto;
    width: 170px;
}

/* handwave animation */
@keyframes rock {
    from {
      transform: rotate(0deg) scale(1);
    }
    33% {
      transform: rotate(-25deg) scale(1);
    }
    66% {
      transform: rotate(2deg) scale(1);
    }
  }

  .rock {
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-name: rock;
    animation-iteration-count: infinite;
  }


.setup button {
    background-color: #00ACE3;
    padding: 1.5em;
    border: none;
    border-radius: 50px;
    width: 200px;
    margin: 5em auto 0;
    box-shadow: 0px 3px 13px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    outline: none;
}

.setup h1{
    font-size: 1.25em;
    font-style: normal;
    font-family: var(--bodyfont);
    letter-spacing: 1px;
}
.setup a {
    text-decoration: none;
    color: white;
}

/* Welcome Screen */
#handwave {
    width: 150px;
    height: 150px;
}

p#yourname {
    margin: -1em 0 1.5em;
    color: white;
    text-align: center;
    font-size: 1.25em;
}

p#welcometxt {
    margin: 1em 1em 0;
    color: white;
    text-align: center;
    font-size: 1.2em;
    line-height: 28px;
}

span#jfy {
    color: var(--orange);
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.start button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    color: white;
}

.welcome button {
    background-color: #00ACE3;
    padding: 1.5em;
    border: none;
    border-radius: 50px;
    width: 200px;
    margin: 3em auto 0;
    box-shadow: 0px 3px 13px 5px rgba(0, 0, 0, 0.2);
}
.welcome h1{
    font-size: 1.25em;
    font-style: normal;
    font-family: var(--bodyfont);
    letter-spacing: 1px;
}
.welcome a {
    text-decoration: none;
    color: white;
}

.maybelater {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}
.maybelater a  {
    color: #75AEF0 !important;
    text-decoration: underline;
}
.goback {
    margin-top: 1em;
}
.goback a{ 
    font-size: 16px;
}

/* Choose/Add Profile Page **/

#options {
    cursor: pointer;
}
#options a{
    color: white;
}

.profile_btn:hover, .child_btn:hover, .add_btn:hover  {
    text-shadow: 2px 2px 5px black;
}

.profile_btn, .child_btn{
    border-radius: 7px;
    border: none;
    padding: .5rem;
    margin: 3rem auto;
    background-color: var(--lightblue);
    width: 230px;
    text-align: center;
}

.add_btn{
    font-size: 1.15rem;
    color: white;
    border-radius: 7px;
    border: 1px solid var(--lightblue);
    padding: .5rem;
    margin: 3rem auto;
    background-color: var(--darkblue);
    width: 230px;
    text-align: center;
}

.profile_btn, .child_btn{
    font-size: 1.15rem;
    color: white; 
}

.child_btn{
    background-color: var(--orange);
}

a:visited{
    color: white;
}

.profile_btn, .child_btn{
    font-size: 1.15rem;
    color: white; 
}

/* featured microinteraction */
.swiper-container {
    height: 350px;
    padding-bottom: 15px;
}

.swiper-wrapper {
    align-items: center;
}

.swiper-slide {
    width: 200px;
    height: 250px;
    border-radius: 7px;
}

.swiper-slide img {
    width: 200px;
    height: 250px;
    border-radius: 7px;
}

.swiper-slide-active {
    transform: scale(1.2);
    transition: .4s;
}

.swiper-pagination-bullet{
    opacity: 0.5;
}

.main {
    height: 350px;
}

/* category scroll microinteraction */

/* Cultural Preferences Page */

#culture-ques{
    text-align: center;
    margin: 2.4em 2.0em 0;
}

.culture-grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
    padding: 2rem;
    justify-content: center;
}

.culture-grid img {
    object-fit: cover;
    object-position: 100% 0;
}

.grid-img {
    width: 100%;
}

.single-grid {
    background-color: #FF9A00;
    border-radius: 1rem;
    opacity: 100%;
}

/* script buttons */
.culture-but.active {
    opacity: 60%;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.culture-but {
    border-radius: 1rem;
    width: 8rem;
    height: 8rem;
    outline: none;
    border: none;
    cursor: pointer;
}

.culture-but h4 {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: var(--boldfont);
    text-shadow: 3px 3px 16px rgba(0, 0, 0, 1);
    position: relative;
}

/* culture images */

#spanish {
    background-image: url(images/cultural_imgs/cultural-spanish.png);
    background-size: cover;
} 

#asian {
    background-image: url(images/cultural_imgs/cultural_asian.png);
    background-size: cover;
} 

#korean {
    background-image: url(images/cultural_imgs/cultural-korean.png);
    background-size: cover;
}

#bolly {
    background-image: url(images/cultural_imgs/cultural_bollywood.png);
    background-size: cover;
}

#african {
    background-image: url(images/cultural_imgs/cultural-african.png);
    background-size: cover;
}

#french {
    background-image: url(images/cultural_imgs/cultural-french.png);
    background-size: cover;
}

#italian {
    background-image: url(images/cultural_imgs/cultural-italian.png);
    background-size: cover;
}

#japanese {
    background-image: url(images/cultural_imgs/cultural-japanese.png);
    background-size: cover;
}



/* screen orientation */
#background_screen {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 1s ease-in-out;
    position: fixed;
    z-index: 99;
}
.screen_change img {
    width: 60%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

@media screen and (orientation: portrait) {
    .screen_change {
        display: none;
        transition: all 1s ease-in-out;
    }
  }

@media screen and (orientation: landscape) {
    .screen_change {
        display: block;
        transition: all 1s ease-in-out;
    }
  }

/* progress bar */
.progress {
    width: 100%;
    height: 10px;
}

.progress-wrap {
    background: #00ACE3;
    margin: 0;
    overflow: hidden;
    position: relative;
  }

  .progress-bar {
    background: #13304A;
    left: 0;
    position: absolute;
    top: 0;
  }